# This is Git's per-user configuration file.
[user]
	name = Christopher Gjøvåg
	email = christopher.gjovag@soprasteria.com
[core]
	editor = vim
	pager = LESSCHARSET=utf-8 delta
	autocrlf = input
	quotepath = off
[delta]
	navigate = true
	light = false
[merge]
	tool = vscode
	conflictstyle = zdiff3
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	algorithm = histogram
	tool = vscode
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[pager]
	branch = false
[advice]
	addIgnoredFile = false
[init]
	defaultBranch = main
[interactive]
	conflictstyle = zdiff3
[branch]
	sort = -committerdate
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[column]
	ui = auto
[tag]
	sort = version:refname
[help]
	autocorrect = prompt
